---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
## skip_validation: true


transformers:
  ## set a default value for the clusterset on ManagedCluster and Placements.
  - ./kustomize/transformers/set-managedcluster-clusterset.yml

  ## add the argo annotation to all ManagedClusers and ManagedClusterSet so they will not be deleted by argo
  - ./kustomize/transformers/argo-prevent-delete.yml

configurations:
  ## configure kustomize to correct the name of the PolicySet in the placement binding
  - ./kustomize/configuration/namereference/policyset-namereference.yml

  ## configure kustomize to correct the name of the Policy namespace in the Policy dependency
  - ./kustomize/configuration/namereference/namespace-namereference.yml

  ## configure kustomize to correct the name of the Policy in the Policy dependency
  - ./kustomize/configuration/namereference/policy-namereference.yml

  ## configure kustomize to correct the name of the Placement in the PlacementBinding reference
  - ./kustomize/configuration/namereference/placement-namereference.yml

  ## configure kustomize to correct the name of the PolicySet in the placement binding
  - ./kustomize/configuration/namereference/clusterset-namereference.yml

## Add the local resources to the set
resources:
  - ./policy-base/namespace.yml
  - ./policy-base/managedclustersetbinding.yml
  - ./policy-base/managedclusterset.yml


## ensure all policies have the copyPolicyMetadata set to false, unset the toplevel remediation action.
patches:
  - target:
      kind: Policy
    patch: |
      - op: add
        path: /spec/copyPolicyMetadata
        value: false
